@media (max-width: 1900px) {
	h2 {
		font-size: 25px;
	}
	.text {
		font-size: 14pt;
	}
	.all-team-blocks {
		flex-wrap: wrap;
	}
}

@media (max-width: 1400px) {
	.menu-list {
		font-size: 12pt;
		padding: 0;
	}
	h2 {
		font-size: 20pt;
	}
	.text {
		font-size: 13pt;
	}
	.all-team-blocks {
		flex-wrap: wrap;
	}
}

@media (max-width: 1150px) {
	h2 {
		font-size: 20pt;
	}
	.story-image {
		width: 30%;
		height: 50%;
	}
	.text {
		font-size: 12pt;
	}
	.image {
		width: 50%;
		height: 50%;
	}
	.all-team-blocks {
		flex-wrap: wrap;
	}
	.team-block {
		height: 50%;
		width: 20%;
	}
	.line {
		width: 50%;
	}
	.quote-gallery:nth-child(4) .gallery-align {
		width: 100px;
		height: 100px;
	}
	.gallery-align {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 950px) {
	h2 {
		font-size: 16pt;
	}
	.story-image {
		width: 30%;
		height: 50%;
	}
	.text {
		font-size: 10pt;
	}
	.image {
		width: 50%;
		height: 50%;
	}
	.all-team-blocks {
		flex-wrap: wrap;
	}
	.team-block {
		height: 50%;
		width: 20%;
	}
	.foot {
		height: 100%;
	}
}

@media (max-width: 650px) {
	h2 {
		font-size: 14pt;
	}
	.story-image {
		width: 30%;
		height: 50%;
	}
	.text {
		font-size: 9pt;
	}
	.image {
		width: 50%;
		height: 30%;
	}
	.all-team-blocks {
		flex-wrap: wrap;
	}
	.team-block {
		height: 50%;
		width: 20%;
	}
	.foot {
		height: 100%;
	}
	.quote-gallery:nth-child(4) .gallery-align {
		width: 80px;
		height: 80px;
	}
	.gallery-align {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 500px) {
	h2 {
		font-size: 12pt;
	}
	.flex:nth-child(2) {
		flex-wrap: wrap;
	}
	.story-image {
		width: 70%;
		height: 50%;
	}
	.image {
		width: 80%;
		height: 30%;
	}
	.text {
		font-size: 7pt;
	}
	.section {
		height: 100%;
	}
	.foot {
		height: 100%;
	}
	.quote-gallery:nth-child(4) .gallery-align {
		width: 40px;
		height: 40px;
	}
	.gallery-align {
		width: 30px;
		height: 30px;
	}
	.image-container {
		height: 47.1vh;
	}
	.quote-gallery-row {
		margin-top: 30%;
	}
}
