body {
	margin: 0;
	height: 100vh;
	font-family: Arial;
}

a {
	color: white;
	text-decoration: none;
}

hr {
	margin-top: 25px;
}

.main-button {
	margin-top: 50px;
}

.header-text {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
}

.header-text hr {
	margin-top: 0;
}

.header-text div:first-child {
	margin-bottom: 10px;
	font-size: 50px;
}

.header-text div:nth-child(3) {
	margin-top: 15px;
	display: flex;
	width: 50%;
	justify-content: center;
}

.menu-list {
	width: 120px;
	height: auto;
	float: left;
	text-align: center;
	padding: 10px 25px;
}

.menu-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 10;
	background-color: #352555;
	height: 60px;
}

.menu-bar img {
	margin-right: 120px;
}

.menu {
	margin: 0;
	padding: 0;
	height: auto;
	list-style: none;
}

.headerbackground {
	background-size: cover;
	background-image: url("./img/header_background\ purple.png");
	height: 100%;
	width: 100%;
}

.button {
	background-color: none;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	border: 1px solid white;
	text-decoration: none;
}

.button:hover {
	background-color: white;
	color: #352555;
}

.section1 {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.text-frame {
	width: 700px;
	line-height: 1.5;
	text-align: justify;
}

.section1 div,
h2 {
	margin-left: 25px;
}

.section3-back {
	background-size: cover;
	background-image: url("./img/section1_background\ purple.jpg");
	height: 70%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.section3-back div {
	color: white;
	font-size: 25px;
}

.section4 {
	height: 80%;
}

.section4 h2 {
	margin-top: 60px;
	font-size: 25px;
	text-align: center;
	margin-left: 0;
}

.section4 div {
	text-align: center;
}

.s4-miniblock {
	margin-top: 40px;
	line-height: 1.5;
}

.s4-three-miniblock {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 30px;
	gap: 80px;
}

.s4-miniblock-subtitle {
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	margin-top: 25px;
}

.section5 {
	background-size: cover;
	background-image: url("./img/header_background\ purple.png");
	height: 70%;
	width: 100%;
}

.section5 h2 {
	color: white;
	padding-top: 60px;
	font-size: 25px;
	text-align: center;
	margin-left: 0;
}

.section5 div {
	color: white;
	text-align: center;
}

.all-team-blocks {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;
}

.team-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 250px;
	height: 350px;
	border: 2px solid white;
	margin-top: 30px;
	padding-top: 25px;
}

.team-block div:nth-child(3) {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 25px;
}
